body{}
/**********************左邊選單*********************************/
.Area{width:100%;  margin-bottom:100px; overflow:hidden;position:relative; margin-top:250px;}

.dessert01{position:absolute;z-index:1;width:400px;left:-80px; bottom:700px;}
.Area .dessert02{position:absolute;z-index:1;width:350px; right:0px; top:1000px;}
.Area .dessert03{position:absolute;z-index:1;width:250px; left:-60px; top:500px;}
.dessert04{position:absolute;z-index:1;width:400px; right:0px; top:130px;}
.contantArea  .title{width:350px; margin-bottom:30px;}
.Area .contantArea{width:850px;margin:0px auto;position:relative; z-index:2;}
.Area .contantArea  .boxArea{overflow:hidden;width:830px; margin-bottom:60px;padding-left:20px; position:relative; padding-bottom:30px;border-bottom:1px dotted #fff;}
.Area .contantArea  .boxArea h1{font-size:32px; letter-spacing:4px; text-align:center; color:#fff;display:block;padding:30px; margin-bottom:50px;}

.Area .contantArea  .boxArea .itemArea{width:100%;padding-top:20px;clear:both; float:left; min-height:200px; }
.itemArea .picBox{float:left; width:180px; height:180px; background-color:#777; margin-bottom:50px; border-radius:10px;position:relative; }
.itemArea .picBox .pic{overflow:hidden;width:180px; height:180px;position:absolute; top:0px; left:0px; }
.itemArea .picBox .pic .img{width:100%;-webkit-transform: scale(1);transform: scale(1);-webkit-transition: 0.5s; transition: 0.5s;}
.Area .contantArea  .boxArea .itemArea:hover .picBox .pic .img{-webkit-transform: scale(1.1);transform: scale(1.1);overflow:hidden;}
.itemArea .picBox .pic .dot{position:absolute;bottom:0px;left:0px; width:60px;}
.itemArea .picBox .shadow2{position:absolute;z-index:2;top:0px;left:0px;}
.itemArea .picBox .border{width:188px; height:188px;border:1px solid #fff;position:absolute; top:-5px; right:-5px;}
.itemArea .typeBox{float:left; width:200px; overflow: hidden;}
.itemArea .typeBox h2{font-size:20px;letter-spacing:3px; color:#fff;font-weight:600;margin-left:23px; }
.itemArea .typeBox h3{font-size:16px;letter-spacing:3px; color:#fff; margin-bottom:18px;font-weight:600;margin-left:23px; }
.itemArea .typeBox .small{width:40px; color:#fff; padding-left:0px;}
.itemArea .detailedBox{float:right;width:390px; font-size:15px; letter-spacing:4px;line-height:24px;color:#6a3c22; font-weight:600;margin-bottom:40px;position:relative; padding:20px; background-color:rgba(255,255,255,0.4);  border-radius:10px;-webkit-transition: all 0.8s; transition: all 0.8s;}
.itemArea:hover .detailedBox{background-color:rgba(255,255,255,0.7);}
.itemArea .detailedBox h2{font-size:18px;letter-spacing:3px; color:#fff; margin-bottom:10px;font-weight:600; }

.Area .contantArea .top_button{width:835px; padding-left:10px; margin:20px auto; overflow:hidden; padding-bottom:10px;}
.Area .contantArea .top_button a{display:block;}
.Area .contantArea .top_button .buttonBox{width:230px; float:left; padding:10px; background-color:rgba(255,255,255,0.4); text-align:center; margin:0 25px 25px 0; border-radius:5px; border:1px solid #fff; color:#fff; letter-spacing:3px; font-weight:600; box-shadow:0px 3px 0px rgba(0,0,0,0.1); -webkit-transition:all 0.5s;}
.Area .contantArea .top_button .buttonBox:hover{background-color:rgba(255,255,255,0.55);box-shadow:0px 3px 0px rgba(0,0,0,0.2);}
.Area .contantArea .top_button .buttonBox.clicked{background-color:rgba(0,0,0,0.2);box-shadow:0px 3px 0px rgba(0,0,0,0.2);}

.pageLinks { display:block; width:350px; color: #FFF; margin:50px auto 30px; padding-left:50px;}
.pageLinks strong { display: inline-block; width: 15px; background-color:rgba(255,255,255,0.3); height:15px; padding:7px; font-size:14px; border-radius:200px;overflow:hidden; text-align:center;line-height:15px; margin-right:10px; }
.pageLinks .first,
.pageLinks .prev{ display: inline-block; width:25px; height:15px; margin-right:10px;margin-top:5px;opacity:0.7;-webkit-transition: all 0.8s; transition: all 0.8s;}
.pageLinks .first:hover,
.pageLinks .prev:hover{ opacity:1;}
.pageLinks .last,
.pageLinks .next{ display: inline-block; width:25px; height:15px; margin-right:10px; margin-top:5px;opacity:0.7;-webkit-transition: all 0.8s; transition: all 0.8s;}
.pageLinks .last:hover,
.pageLinks .next:hover{opacity:1;}
.pageLinks a{ display: inline-block; width:15px; height:15px; padding:7px;color:#fff;  font-size:14px; border-radius:200px;overflow:hidden; text-align:center;line-height:15px; margin-right:10px;-webkit-transition: all 0.8s; transition: all 0.8s;}
.pageLinks a:hover{color:#fff; background-color:rgba(255,255,255,0.3);}
