body{}
.Area{width:100%;  height:100%;min-height:1000px; overflow:hidden; }
.Area .centerArea{width:80%; margin:0 auto 150px auto; padding-top:150px;-webkit-animation:p201503031119 1.5s;animation:p201503031119 1.5s;margin-left:auto; margin-right:auto;}
@-webkit-keyframes p201503031119{
	0%{ opacity:0; }
	50%{opacity:0; }
	100%{opacity:1; }
}
@keyframes p201503031119{
	0%{  opacity:0;  }
	50%{ opacity:0; }
	100%{opacity:1; }
}
.Area .centerArea .contantArea  h1{ display: block; height: 50px; font-size: 30px; line-height: 50px; font-weight: 900; color: #555; background: url(../../img/product/lines_bar.jpg) bottom  left no-repeat; letter-spacing: 3px; margin-bottom:30px; }
.Area .centerArea .contantArea  h1 .floatright { font-size: 10px; font-weight: 100; color: #999; letter-spacing: 3px; }
.Area .centerArea .contantArea  h1 .small{font-size:22px;}
.Area .centerArea .contantArea{width:80%; margin:0 auto; padding-left:200px; margin-left:auto; margin-right:auto; }
.number_box{width:300px;float:right;}
.number_box  a{display:block;}
.number_box .prev{ width:15px; height:15px;float:left;margin-top:10px; background:url(../../img/triangle2.png); background-repeat:no-repeat;}
.number_box .prev:hover{ background:url(../../img/triangle2_hover.png);}
.number_box .next{ width:15px; height:15px;float:left; margin-top:10px; margin-left:30px;background:url(../../img/triangle.png); background-repeat:no-repeat;}
.number_box .next:hover{ background:url(../../img/triangle_hover.png);}
.number_box .number{width:300px; margin-left:30px;} 
.number_box .number a{display:block; float:left; padding:3px; padding-left:15px; padding-right:15px;color:#999; border-right:1px solid #eee; font-size:12px;}
.number_box .number a:hover{color:#43a7d8;}

.pic{width:100%;margin-bottom:30px; position:relative; overflow:hidden; }
 .pic img{width:100%; float:left;  }
 .pic .hoverBox{ position: absolute; left: 0; top: 0; width:100%;height:100%; overflow:hidden;-webkit-transition: all 0.8s; transition: all 0.8s; -webkit-transform: translate(-70%, 0); transform: translate(-70%, 0);background:url(../../img/product/hover_bg.png) right;}
 .pic:hover .hoverBox{ -webkit-transform: translate(-55px, 0); }
 .pic .hoverBox .title{ display:block; width:20%; float:right; margin-top:-1.5%; margin-right:6%;font-size:24px;color:#afc440 ;line-height:32px; }
 .pic .hoverBox .title img{ float:left; width:100%; height:100%; }
 .pic .hoverBox .text { margin-top: 5%;  width:450px;  font-size: 12px; margin-left:50px; }
@media screen and (max-width: 1024px) {
	.pic:hover .hoverBox{ -webkit-transform: translate(-70%, 0); transform: translate(-70%, 0); }
	.pic .hoverBox .text { display: none; }
}
 .pic .hoverBox .text p{ display:block; float:left; line-height: 200%; font-size:12px; color:#fff;letter-spacing:2px; padding-left:50px; opacity:0; }
 .pic:hover .hoverBox .text p:nth-of-type(1){-webkit-animation:p201503031177 1.8s;animation:p201503031177 1.8s; opacity:1; }
 .pic:hover .hoverBox .text p:nth-of-type(2){-webkit-animation:p201503031177 2s;animation:p201503031177 2s; opacity:1; }
@-webkit-keyframes p201503031177{
	0%{-webkit-transform:translate(0px, 25px) ; opacity:0; }
	50%{-webkit-transform:translate(0px, 25px) ; opacity:0; }
	100%{-webkit-transform:translate(0px, 0px) ; opacity:1; }
}
@keyframes p201503031177{
	0%{transform:translate(0px, 25px) ; opacity:0; }
	50%{transform:translate(0px, 25px) ; opacity:0; }
	100%{transform:translate(0px, 0px) ; opacity:1; }
}


.Area .centerArea .contantArea .boxArea{width: 100%;margin-top:30px; margin-bottom:50px;margin-left:auto; margin-right:auto; }
.Area .centerArea .contantArea .boxArea .news_item{width:100%; padding-bottom:30px;margin-bottom:20px; padding-top:20px; border-bottom:1px solid #eee;min-height:180px; }
.Area .centerArea .contantArea .boxArea .news_item .right_text{width:100%;font-size:12px; line-height:20px;letter-spacing:1px;color:#777;}
.Area .centerArea .contantArea  .boxArea .news_item .right_text h2{text-align:left; font-size:18px;color:#43a7d8; margin-bottom:15px; letter-spacing:2px;}
.Area .centerArea .contantArea .boxArea .news_item .right_text p{ margin-bottom:5px;}
.Area .centerArea .contantArea .boxArea .news_item .right_text .left_pic{ float:left;width:200px;height:150px;overflow:hidden;background-color:#eee; margin-right:15px; overflow:hidden;margin-bottom:3px;}
.Area .centerArea .contantArea .boxArea .news_item .right_text .left_pic img{ width:100%;}

.Area .centerArea .contantArea .boxArea .news_item .more{width:65px;height:20px;padding:2px; padding-right:4px; text-align:center; border-radius:25px;background-color:#999; color:#fff; letter-spacing:2px; font-size:12px; line-height:17px; float:right; margin-top:10px;-webkit-transition:all  0.5s; transition:all  0.5s; position:relative; }
.Area .centerArea .contantArea .boxArea .news_item .more img{ position:absolute; right:9px; top:7px;}
.Area .centerArea .contantArea .boxArea .news_item .more:hover{background-color:#43a7d8;}
