body{}
/**********************左邊選單*********************************/
.Area{width:100%;  margin-bottom:180px; overflow:hidden;position:relative; margin-top:250px;}

.dessert01{position:absolute;z-index:1;width:400px;left:-80px; bottom:700px;}
.Area .dessert02{position:absolute;z-index:1;width:350px; right:0px; top:1000px;}
.Area .dessert03{position:absolute;z-index:1;width:250px; left:-60px; top:500px;}
.contantArea  .title{width:350px; margin-bottom:50px;}
.Area .contantArea{width:850px;margin:0px auto;position:relative; z-index:2;}
.Area .contantArea  .boxArea{width:830px; height:1300px; margin:0px auto;padding-left:20px; position:relative; border-bottom:1px solid rgba(255,255,255,0.5);}
.Area .contantArea  .boxArea .item{width:390px; height:350px; margin-right:10px; float:left; margin-bottom:30px;}
.Area  .item .pic{width:180px; height:180px; border-radius:90px;background-color:#777; margin:0 auto; margin-bottom:30px; position:relative; }
.Area  .pic .border{width:186px; height:186px;border-radius:92px;border:1px solid #fff; position:absolute; top:0px;left:-1px;}
.Area  .pic .img{ position:absolute;width:180px; height:180px; border-radius:90px;background-color:#eee;top:0px;left:0px; overflow:hidden;}
.Area  .pic .img img{width:100%;}
.Area  .pic .img .shadow{position:absolute;z-index:2;top:0px;left:0px;}
.Area .contantArea  .boxArea .item .text{width:330px; padding-left:10px;padding-right:10px; font-size:14px; letter-spacing:2px;line-height:24px;color:#6a3c22; font-weight:600; margin-left:auto; margin-right:auto; text-align:center;}
.Area .contantArea  .boxArea .item .text h2{font-size:18px;letter-spacing:3px; color:#fff; margin-bottom:10px;font-weight:600;padding-bottom:10px;border-bottom:1px dotted #fff; text-align:center;}
.Area .contantArea  .boxArea .item .text span{font-size:12px;}

.Area .contantArea  .bottomBox{width:830px;margin:0px auto;padding-left:20px; margin-top:60px;  position:relative;}
.Area  h1{font-size:26px; text-align:center; color:#fff; font-weight:600; letter-spacing:4px; margin-bottom:80px;}
.Area .contantArea  .bottomBox .itemBox{width:820px; margin-top:30px; padding-left:10px;}
.Area .contantArea  .bottomBox .itemBox .item{width:250px; height:350px; margin-right:20px; float:left; margin-bottom:30px;}
.Area .contantArea  .bottomBox .itemBox .item .text{width:220px; padding-left:10px;padding-right:10px; font-size:14px; letter-spacing:2px;line-height:24px;color:#6a3c22; font-weight:600; margin-left:auto; margin-right:auto; text-align:center;}
.Area .contantArea  .bottomBox .itemBox .item .text h2{font-size:18px;letter-spacing:3px; color:#fff; margin-bottom:10px;font-weight:600;padding-bottom:10px;border-bottom:1px dotted #fff; text-align:center;}





@-webkit-keyframes p201503200522{
	0%{ -webkit-transform:rotate(-10deg);opacity:0;  }
	50%{ -webkit-transform:rotate(-10deg); opacity:0;}
	100%{ -webkit-transform:rotate(0deg); opacity:1;  }
}
@keyframes p201503200522{
	0%{ transform:rotate(-10deg); opacity:0;  }
	50%{transform:  rotate(-10deg); opacity:0;}
	100%{ transform:rotate(0deg); opacity:1;  }
}
@-webkit-keyframes p201503200525{
	0%{ -webkit-transform:rotate(10deg);opacity:0;  }
	50%{ -webkit-transform:rotate(10deg); opacity:0;}
	100%{ -webkit-transform:rotate(0deg); opacity:1;  }
}
@keyframes p201503200525{
	0%{ transform:rotate(10deg); opacity:0;  }
	50%{transform:  rotate(10deg); opacity:0;}
	100%{ transform:rotate(0deg); opacity:1;  }
}





