body{}
/**********************左邊選單*********************************/
.Area{width:100%;  margin-bottom:80px; overflow:hidden;position:relative;}

.dessert01{position:absolute;z-index:1;width:350px;left:-80px; bottom:10px;}
.Area .dessert02{position:absolute;z-index:1;width:300px; right:0px; top:1250px;}
.Area .dessert03{position:absolute;z-index:1;width:300px; left:-60px; top:650px;}
.Area  .topArea{width:100%; height:500px;margin:0px auto; position:relative; background:url(../img/about/bg1.png) center center;overflow:hidden; margin-top:130px;}
.Area  .topArea  .pic1{position:absolute;z-index:2;bottom:0px;right:-80px;-webkit-animation:p201503200522 4s;animation:p201503200522 4s;}
@-webkit-keyframes p201503200522{
	0%{ opacity:0;  }
	100%{ opacity:1;  }
}
@keyframes p201503200522{
	0%{ opacity:0;  }
	100%{opacity:1;  }
}
.Area  .topArea .solgon1{position:absolute;z-index:2;bottom:200px;right:500px;width:40%;-webkit-animation:p201503200523 2s;animation:p201503200523 2s;}
@-webkit-keyframes p201503200523{
	0%{ -webkit-transform: translate(0px, 30px);opacity:0;  }
	100%{ -webkit-transform: translate(0,0px); opacity:1;  }
}
@keyframes p201503200523{
	0%{ transform: translate(0px,30px); opacity:0;  }
	100%{ transform: translate(0,0px); opacity:1;  }
}
.Area .contantArea{width:50%;margin:0px auto;position:relative; z-index:2;}
.contantArea .story{width:100%;margin:0px auto; font-size:15px;letter-spacing:4px; line-height:25px;color:#6a3c22; margin-bottom:50px;  }
.contantArea .story p{margin-bottom:15px;font-weight:600;}
.contantArea .story .title{width:300px;}
.contantArea .story  .WhiteBox{width:100%;float:left; background-color:rgba(255,255,255,0.5);border-radius:10px; margin:30px auto 80p auto ;padding:px; padding-bottom:20px;padding-top:20px;font-weight:600;}
.contantArea .story  .WhiteBox .item{width:90%;float:left; border-bottom:1px dotted #fff; padding:10px;margin:0 auto ;font-size:15px;letter-spacing:4px; line-height:25px;margin-left:20px;-webkit-transition: all 0.5s; transition: all 0.5s;}
.contantArea .story  .WhiteBox .item:hover{background-color:rgba(255,255,255,0.3);}
.contantArea .story  .WhiteBox .item .day{float:left; width:35%; margin-right:40px;letter-spacing:2px}
.contantArea .story  .WhiteBox .item .event{float:right;width:55%;}