body{}
/**********************左邊選單*********************************/
.Area{width:100%;  margin-bottom:30px; padding-bottom:100px; overflow:hidden;position:relative; margin-top:250px;}

.dessert01{position:absolute;z-index:1;width:400px;left:-160px; bottom:0px;}
 .dessert02{position:absolute;z-index:1;width:350px; right:0px; top:150px;}
 .dessert05{position:absolute;z-index:1;width:350px; left:-150px; top:180px;}
 .dessert06{position:absolute;z-index:1;width:350px;right:-50px; bottom:500px;}
.Area .dessert03{position:absolute;z-index:1;width:300px; left:-60px; top:900px;}
.Area .pie{position:absolute;z-index:1;width:550px; right:0px; top:900px;}
.contantArea  .title{width:430px; margin-bottom:0px;}
.Area .contantArea{width:900px;margin:0px auto;position:relative; z-index:2;}
.Area .contantArea  .boxArea{width:900px; margin:50px auto;padding-left:20px; position:relative; }

.Area .contantArea  .boxArea .itemArea{width:248px;  margin-right:50px; float:left; margin-bottom:70px; padding-bottom:15px; }
.picBox_border{width:248px; height:248px;border:1px solid #fff;}
.itemArea .picBox{float:left; width:240px; height:240px; background-color:#777; margin-bottom:20px;position:relative;overflow:hidden; margin-left:4px; margin-top:4px; }
.itemArea .picBox .pic{overflow:hidden;width:240px; height:240px;position:absolute; top:0px; left:0px; }
.itemArea .picBox .pic .img{width:100%;-webkit-transform: scale(1);transform: scale(1);-webkit-transition: 0.5s; transition: 0.5s;}
.Area .contantArea  .boxArea .itemArea:hover .picBox .pic .img{-webkit-transform: scale(1.1);transform: scale(1.1);overflow:hidden;}
.itemArea .picBox .pic .dot{position:absolute;bottom:0px;left:0px; width:110px;}
.itemArea .picBox .shadow2{width:240px;height:240px;position:absolute;z-index:2;top:0px;left:0px;}
.itemArea .picBox .hoverBox{position:absolute;bottom:0px;left:0px;width:240px;height:100px; background-color:rgba(0,0,0,0.6); z-index:55;opacity:1;-webkit-transition:all 0.5s; transition:all  0.5s;-webkit-transform: translate(0px, 160px);transform: translate(0px, 160px);}
.itemArea .picBox .hoverBox p{font-size:14px; letter-spacing:2px;line-height:24px;color:#fff; padding:10px;}
.itemArea:hover .hoverBox{opacity:1; -webkit-transform: translate(0px, 0px);transform: translate(0px, 0px);}


.itemArea  .textBox{font-size:14px; letter-spacing:2px;line-height:24px;color:#6a3c22; font-weight:600; }
.itemArea  .textBox .title2{width:100px;}
.itemArea  .textBox h2{font-size:16px; color:#fff; margin-bottom:10px;font-weight:600; border-bottom:1px dotted #eee; padding-bottom:10px;}
.itemArea  .textBox .more{width:60px; height:15px; padding:10px; line-height:15px; text-align:center;  border-radius:5px; margin-top:20px; border:2px solid #fff; color:#fff;-webkit-transition:all 0.5s; transition:all  0.5s; float:right;}
.itemArea  .textBox .more:hover{background-color:rgba(255,255,255,0.5);color:#fff;}








@-webkit-keyframes p201503200522{
	0%{ -webkit-transform:rotate(-10deg);opacity:0;  }
	50%{ -webkit-transform:rotate(-10deg); opacity:0;}
	100%{ -webkit-transform:rotate(0deg); opacity:1;  }
}
@keyframes p201503200522{
	0%{ transform:rotate(-10deg); opacity:0;  }
	50%{transform:  rotate(-10deg); opacity:0;}
	100%{ transform:rotate(0deg); opacity:1;  }
}
@-webkit-keyframes p201503200525{
	0%{ -webkit-transform:rotate(10deg);opacity:0;  }
	50%{ -webkit-transform:rotate(10deg); opacity:0;}
	100%{ -webkit-transform:rotate(0deg); opacity:1;  }
}
@keyframes p201503200525{
	0%{ transform:rotate(10deg); opacity:0;  }
	50%{transform:  rotate(10deg); opacity:0;}
	100%{ transform:rotate(0deg); opacity:1;  }
}





