body{}
.Area{ height:100%; min-height:1000px; overflow:hidden; }
.Area .centerArea{ width: 80%; margin: 0 auto 150px; padding-top: 120px;-webkit-animation:p201503031119 1.5s;animation:p201503031119 1.5s;}
@-webkit-keyframes p201503031119{
	0%{ opacity:0; }
	50%{opacity:0; }
	100%{opacity:1; }
}
@keyframes p201503031119{
	0%{  opacity:0;  }
	50%{ opacity:0; }
	100%{opacity:1; }
}
.topbg{width:100%; height:400px;background:url(../img/market/bg2.jpg) fixed;  margin:0 auto;position:relative;}
.topbg  .title1{ width:450px; position:absolute;  left:50%; margin-left:-220px; margin-top:200px;}

.Area .centerArea .contantArea{ width:90%; margin:0 auto; }
.Area .centerArea .contantArea  h1{ display: block; height: 50px; font-size: 30px; line-height: 50px; font-weight: 900; color: #555; background: url(../img/product/lines_bar.jpg) bottom no-repeat; letter-spacing: 4px; }
.Area .centerArea .contantArea  h1 .floatright { font-size: 10px; font-weight: 100; color: #999; letter-spacing: 4px; }

.Area .centerArea .contantArea .boxArea{width: 100%; margin-top:30px; margin-bottom:80px; }
.Area .centerArea .contantArea .boxArea .topTitle{ width:300px; margin: 50px auto; height:50px;}
.Area .centerArea .contantArea .boxArea .topTitle h2{float:left;margin-left:10px;font-size:28px; color:#afc440; margin-bottom:50px;letter-spacing:3px; }
.Area .centerArea .contantArea .boxArea .topTitle .icon{width:60px;float:left; margin-top:-10px; margin-left:50px;}
.Area .centerArea .contantArea .boxArea .topTitle .icon.H2{width:80px;margin-top:-30px;  margin-left:30px;}



.Area .centerArea .contantArea .boxArea .textArea{width: 100%;}
.Area .centerArea .contantArea .boxArea .textArea .set{width: 100%; border-bottom:1px solid #d3d3d3; padding-bottom:50px; margin-bottom:20px; overflow: hidden;}
.Area .centerArea .contantArea .boxArea .textArea .set.one{ width: 100%; }
.Area .centerArea .contantArea .boxArea .textArea .set.two{ width: 100%; }
.Area .centerArea .contantArea .boxArea .textArea .set.three{ width: 100%; margin-top:-30px; }
.Area .centerArea .contantArea .boxArea .textArea .set h3{display:block;width:240px;height:25px;line-height:27px;font-size:18px;color:#fff; margin-bottom:30px;letter-spacing:3px;margin-top:50px; padding:5px; text-align:center; border:2px solid #43a7d8; margin-left:auto; margin-right:auto; background-color:#43a7d8; }
.Area .centerArea .contantArea .boxArea .textArea .set   p{font-size:14px; letter-spacing:2px; line-height:20px;}

.Area .centerArea .contantArea .boxArea .textArea .set .product_1{width: 100%; margin-top:50px; margin-bottom:50px; padding-left:30px; background-color:#fff;}
.Area .centerArea .contantArea .boxArea .textArea .set .product_1 .item_contant{ width:30%; margin-right:20px; margin-bottom:0px; float:left; overflow:hidden;}
.Area .centerArea .contantArea .boxArea .textArea .set  .item_contant .h4{font-size:20px; margin-bottom:20px;letter-spacing:2px; }
.item_contant .h4.product{color:#43a7d8;}
.item_contant .h4.application{color:#afc440;}
.Area .centerArea .contantArea .boxArea .textArea .set .product_1 .item{ background-color:#fff; overflow:hidden; margin-bottom:20px;   font-size:14px;box-shadow:1px 1px 5px rgba(0,0,0,0.2);-webkit-transition:all  0.5s; transition:all  0.5s;  }
.item.blue{border-top:8px solid #777;}
.item.blue:hover{border-top:8px solid #43a7d8;}
.item.green{border-top:8px solid #777;}
.item.green:hover{border-top:8px solid #afc440;}
.Area .centerArea .contantArea .boxArea .textArea .set .product_1 .item  .item_pic{ display:block; height:230px; margin: 0 auto; overflow:hidden;}
.Area .centerArea .contantArea .boxArea .textArea .set .product_1 .item  .item_pic img{width:100%;-webkit-transition: all 0.5s; transition: all 0.5s;}
.Area .centerArea .contantArea .boxArea .textArea .set .product_1 .item  .item_pic.big{width:450px;}
.Area .centerArea .contantArea .boxArea .textArea .set .product_1 .item  .item_pic.big  img{width:100%;-webkit-transition: all 0.5s; transition: all 0.5s;}
.Area .centerArea .contantArea .boxArea .textArea .set .product_1 .item   .text{ padding:10px;-webkit-transition:all  0.5s; transition:all  0.5s;}
.Area .centerArea .contantArea .boxArea .textArea .set .product_1 .item   .text .text_contant{overflow:hidden;}
.item .text  .title{font-size:18px; margin-top:0px; margin-bottom:10px; color:#fff; letter-spacing:3px;}
.item.blue .text{background-color:#777;}
.item.blue:hover .text{background-color: #43a7d8;}
.item.green .text{background-color:#777;}
.item.green:hover .text{background-color:#afc440;}
.item .text   p{color:#fff;}
.item:hover .item_pic img{-webkit-transform: scale(1.1);transform: scale(1.1);}













