body{}
.Area{ height:100%;min-height:1000px; overflow:hidden;margin-bottom:150px; }
.Area .centerArea{ width:65%;  margin:0 auto 150px auto; padding-top:150px; -webkit-animation:p201503031119 1.5s;animation:p201503031119 1.5s; margin-left:auto; margin-right:auto; }
@-webkit-keyframes p201503031119{
	0%{ opacity:0; }
	50%{opacity:0; }
	100%{opacity:1; }
}
@keyframes p201503031119{
	0%{  opacity:0;  }
	50%{ opacity:0; }
	100%{opacity:1; }
}
.Area .centerArea .contantArea  h1{font-weight:600;  font-size:30px; color:#43a7d8;margin-bottom:60px; letter-spacing:3px;}
.Area .centerArea .contantArea{ width:100%; margin:0 auto;margin-left:auto; margin-right:auto;}

.Area .centerArea .contantArea .boxArea{width: 100%;margin-top:30px; margin-bottom:80px;margin-left:auto; margin-right:auto;}
.Area .centerArea .contantArea .boxArea .topTitle{ height:60px; border-left:8px solid #afc440; padding-left:5px; margin-bottom:80px; }
.Area .centerArea .contantArea .boxArea .topTitle h2{margin-left:10px; margin-bottom:10px;font-size:36px; color:#777;letter-spacing:3px;font-weight:600; }
.Area .centerArea .contantArea .boxArea .topTitle h2:nth-of-type(1){font-size:24px; }
.Area .centerArea .contantArea .boxArea .top_floatBox{width:800px;overflow:hidden;margin-bottom:30px; margin-top:30px;margin-left:auto; margin-right:auto;}
.Area .centerArea .contantArea .boxArea .top_floatBox .slidePicBox{display:block;width: 330px;float:left; overflow:hidden; }
.Area .centerArea .contantArea .boxArea .top_floatBox .slidePicBox .slidePic{ display: block;width:100%; border-radius:10px;overflow:hidden;}
.Area .centerArea .contantArea .boxArea .top_floatBox .slidePicBox .slidePic .square{ width:330px; height:330px;border-radius:10px;overflow:hidden;border:2px solid #fff; }
.Area .centerArea .contantArea .boxArea .top_floatBox .slidePicBox .slidePic .square img{width:326px;  overflow:hidden;}
.slidePicBox .cycle-pager{ text-align:center; }
.slidePicBox .cycle-pager span{ width:50px;font-size:50px;color:#999; line-height:50px; height:50px; padding:8px;cursor:pointer; }
.slidePicBox .cycle-pager span:hover{color:#43a7d8;}
.Area .centerArea .contantArea .boxArea .top_floatBox .rightbox{width:48%; float:left ;margin-left:50px;position:relative; margin-top:-30px;}
.Area .centerArea .contantArea .boxArea .top_floatBox .rightbox .dot1{width:100%; height:9px; overflow:hidden;margin-bottom:10px; background:url(../img/product/dot2.jpg); margin-top:40px; margin-bottom:40px;}
.Area .centerArea .contantArea .boxArea .top_floatBox .rightbox p{ position:relative; display:block;font-size:14px; letter-spacing:2px; margin-bottom:5px;color:#777; padding-left:25px;}
.Area .centerArea .contantArea .boxArea .top_floatBox .rightbox .circle{position:absolute;width:6px; height:6px; border-radius:3px; background-color:#43a7d8;top:10px; left:5px; }
.Area .centerArea .contantArea .boxArea .top_floatBox .rightbox h4{font-size:18px; font-weight:600;color:#777;letter-spacing:2px;margin-bottom:15px;}

.Area .centerArea .contantArea .boxArea .textArea{margin-left:auto; margin-right:auto; margin-bottom:100px; }
.Area .centerArea .contantArea .boxArea .textArea  .p1{ position:relative;  }
.Area .centerArea .contantArea .boxArea  h3{ display:block; height:20px; line-height:22px;font-size:22px; font-weight:600;color:#43a7d8; margin-bottom:20px;letter-spacing:3px;margin-top:50px;}
.Area .centerArea .contantArea .boxArea .textArea  p{font-size:14px; letter-spacing:3px;line-height:24px;color:#777}
.Area .centerArea .contantArea .boxArea  .Application{ margin-bottom:10px; padding-top:20px; }
.Area .centerArea .contantArea .boxArea  .Application p{position:relative;}
.Area .centerArea .contantArea .boxArea  .Application a{ padding-left:20px; margin-bottom:10px; color:#777;}
.Area .centerArea .contantArea .boxArea  .Application .circle{ position:absolute;width:6px; height:6px; border-radius:3px; background-color:#777;top:10px; left:5px; }
.Area .centerArea .contantArea .boxArea  .Application a:hover{color:#43a7d8;}

.Area .centerArea .contantArea .boxArea  .Specification{margin-bottom:30px; }
.Area .centerArea .contantArea .boxArea  .Specification p{ display:block;position:relative; padding-left:20px; margin-bottom:10px;}
.Area .centerArea .contantArea .boxArea  .Specification .circle{ position:absolute;width:6px; height:6px; border-radius:3px; background-color:#777;top:10px; left:5px; }


.Area .centerArea .contantArea .boxArea  .other{margin-bottom:10px; padding-top:20px;}
.Area .centerArea .contantArea .boxArea  .other .box{ width:43%; float:left; padding:15px; margin-right:20px; margin-bottom:15px;}
.Area .centerArea .contantArea .boxArea  .other .box p{ display:block;position:relative; padding-left:20px; margin-bottom:10px; border-bottom:1px dotted rgba(0,0,0,0.3); padding-bottom:10px;}
